
html{
    color: #070707;
    font-family: InriaSans, Arial, sans-serif;
    background-color: white;
    padding: 5px;
}
body {
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-left: 0;
    margin-bottom: 2em;
}

h1 {
    color: #070707;
    font-size: 1.5em;
    font-weight: 900;
}

h2 {
    color: #ff2424;
    font-size: 1.375em;
    font-weight: 700;
}

h3, h4, h5, h6 {
    font-size: 1.2em;
}


p {
    font-size: 1em;
    margin-bottom: 1em;
}

ul {
    font-size: 1em;
    margin-bottom: 20px;
}

table{
    padding: 20px 50px 20px 50px;
}

th {
    color: #404040;
}

td, th{
    border-bottom-color: #e0e0e0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* li::before{ */
/*     color: rgb(255, 36, 36); */
/*     content: "/"; */
/*     font-weight: 700; */
/*     left: 11px; */
/*     line-height: 19px; */
/*     position: absolute; */
/*     transform: matrix(1, 0, 0, 1, -6, 0); */
/* } */
